.row {
  
  &--pt {
    padding-top: 80px;
  }

  &__sm-mb {
    margin-bottom: 1rem;
  }

  @mixin atMedium {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    &--gutters {
      column-gap: 5.3%;
    }
    &--gutters-small {
      column-gap: 3.6%;
    }
    &--gutters-lg {
      margin-right: 8%;
    }
  
    &__sm-mb {
      margin-bottom: 0;
    }

    &__lg-1,
    &__lg-2,
    &__lg-3,
    &__lg-4,
    &__lg-5,
    &__lg-6,
    &__lg-7,
    &__lg-8,
    &__lg-9,
    &__lg-10,
    &__lg-11,
    &__lg-12 {
      grid-column: span 12;
    }

    &__md-4 {
      grid-column: span 4;
    }

    &__med-6 {
      grid-column: span 6;
    }

    &__md-8 {
      grid-column: span 8;
    }
    &__md-4 {
      grid-column: span 4;
    }

    &__md-6 {
      grid-column: span 6;
    }

    &__md-8 {
      grid-column: span 8;
    }

    
  }

  @mixin atLarge {

    &__b-margin-until-lg {
      margin-bottom: 0;
    }

    &__lg-4 {
      grid-column: span 4;
    }

    &__lg-6 {
      grid-column: span 6;
    }

    &__lg-8 {
      grid-column: span 8;
    }

  }

  /* Equal Height rules*/
  &--equal-height-md {
    @mixin atMedium {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }


  &--equal-height-lg {
    @mixin atLarge {
      & > div {
        display: flex;
      }
    }
  }
}